[Unit]
Description=Launches XFCE4 and connects to X-server.

[Service]
Type=simple
ExecStart=/usr/bin/start-xfce4

[Install]
WantedBy=multi-user.target